*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		background-color: #42b5d4;
	}
#learning-heading span{
		font-size: 80px;
		font-family: cursive;
		letter-spacing: 3px;
		position: absolute;
		transform: translate(-450px,50px);
		background-color: hotpink;
		min-width: 250px;
		line-height: 100px;
		text-align: center;
		animation: animation 2s infinite alternate;
	}
@keyframes animation{
	0%{border-radius:0;}
	100%{border-radius:50%; color:red; background-color:yellow;}

}
#learning-heading{
	font-size:50px;
	text-align: center;
}
.menu ul{
	padding: 0;
	margin:  0;
}
.menu{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.menu li
{
	list-style: none;
	float: left;
	padding: 15px;
	font-size: 25px;
	line-height: 15px;
	margin-top: 15px;
	transition-property: all;
	transition-duration: 2s;
	background-color: grey;
}
.menu li:hover{
	color: white;
	background-color: red;
	border-radius: 30px;
	letter-spacing: 2px;
	font-family: cursive;
	cursor: pointer;
}


.leftSide{
	font-size: 30px;
	width: 350px;
	min-height: 800px;
	margin-left: 5px;
	margin-top: 100px;
	padding: 30px 50px;
	text-align: left;
	border: 3px solid black;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: right;
}
.inside-leftSide:hover{
	color: yellow;
	background-color: black;
	border-radius: 100px;
	text-align: center;
	transform: translateX(35px);
	transition-duration: 1s;
}

.rightSide{
	font-size: 30px;
	width: 350px;
	height: 800px;
	letter-spacing: 5px;
	padding: 30px 50px;
	text-align: right;
	border:  3px solid black;
	margin-top: 10px;
	transform: translateX(990px);
}

.inside-rightSide:hover{
	color: yellow;
	background-color: black;
	border-radius: 100px;
	text-align: center;
	transform: translateX(-35px);
	transition-duration: 2s;
}
#computer{
	color: black;
	font-size: 20px;
	width:970px;
	min-height: 100px;
}

#maths{
	color: black;
	font-size: 20px;
	width:970px;
	min-height: 100px;
}

#physics{
	color: black;
	font-size: 20px;
	width:970px;
	min-height: 100px;
}

.allData{
	position: absolute;
	transform: translate(400px,-1620px);
}
#comp{
	color: black;
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 300px;
	font-size: 30px;
	text-align: left;
}
#previousPage{
	font-size: 30px;
	margin-left: 10px;
	margin-top: 10px;
	transition-property: all;
	transition: 3s;
	width:250px;
	line-height: 50px;
	text-align: center;
	float: left;
}
#previousPage:hover{
	color: white;
	background-color: red;
	border-radius: 100px;
	cursor: pointer;
}

#nextPage{
	font-size: 30px;
	margin-left: 30px;
	margin-top: 10px;
	transition-property: all;
	transition: 3s;
	width:180px;
	line-height: 50px;
	text-align: center;
	float: right;
	margin-right: 10px; 
}

#nextPage:hover{
	color: white;
	background-color: green;
	border-radius: 100px;
	cursor: pointer;
}
.foot{
	color: #5C6F83;
	background-color: #1A2735;
	letter-spacing: 3px;
	word-spacing: 3px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
.videoControl{
	position: absolute;
	transform: translateY(-750px);
	margin-left: 15px;
}
#FAQ{
	font-size: 30px;
	margin-left: 20px;
	font-family: sans-serif;
}
#FAQ span{
	font-size: 50px;
	font-weight: bold;
	font-family: cursive;
	margin-left: 550px;
}
#txt{
	height: 350px;
	width: 800px;
	margin-left: 20px;
	font-size: 30px;
	color: red;
	background-image: url("1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
}
input[type=submit]
{
	color: red;
	font-size: 20px;
	min-width: 100px;
	line-height: 50px;
	background-color: black;
	transform: translateX(720px);
	margin-top: 10px;
}